name: tunnel2

services:
  tunnel_server:
    build:
      context: ../../tunnel2-server
      dockerfile: Dockerfile
      secrets:
        - github_token
    ports:
      - "12002:12002"
    restart: unless-stopped
    env_file:
      - ./env/tunnel_server.env
    networks:
      - tunnel2-network

  tunnel_entry:
    build:
      context: ../../tunnel2-proxy-entry
      dockerfile: Dockerfile
      secrets:
        - github_token
    ports:
      - "12000:80"   # HTTP entry point (external traffic)
      - "12001:12001"   # Uplink port (client connections)
      - "40000-40099:40000-40099"  # TCP public ports range (required for TCP integration tests)
    restart: unless-stopped
    env_file:
      - ./env/tunnel_entry.env
    networks:
      - tunnel2-network

  httpbin:
    image: kennethreitz/httpbin:latest
    command: gunicorn -b 0.0.0.0:80 httpbin:app -k gevent --workers 8 --worker-connections 1000
    ports:
      - "12005:80"
    restart: unless-stopped
    networks:
      - tunnel2-network

  test_backend:
    build:
      context: ../../tunnel2-test-backend
      secrets:
        - github_token
    restart: unless-stopped
    ports:
      - "12007:8080"   # HTTP test backend
      - "12008:12008"  # TCP Echo Server
    networks:
      - tunnel2-network

secrets:
  github_token:
    file: ../.github_token

networks:
  tunnel2-network:
    name: tunnel2-network
    external: true